body {
    background-color: beige;                    
}

.title {
font-size: 25px;
text-align: center;
padding: 30px;

}
.pets {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.adoption {
    background-image: linear-gradient(pink,grey);
    border: solid 5px black;
    width: 250px;;
    height: 450px;
    text-align: center;
    margin-left: 150px;
    margin-top: 100px;
    padding: 5px 5px;
    box-shadow: 8px 8px black;

} 

h3 {
    text-align: center;
    padding: 5px 5px;
}

.buttons {
    text-align: center;
    background-color: rgb(237, 215, 248);
    margin: auto;
    border-radius: 50%;

}





.img {
    border: 4px solid black;
    width: 150px;
    height: 150px;


}

footer {
    text-align: center;
    padding: 10px;
}