body {
    background-color: #e6cfe3;
background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png");

   
}

.title {
font-size: 50px;
text-align: center;
padding: 30px;

}
.pets {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.adoption {
    background-image: linear-gradient(pink,grey);
    border: solid 5px black;
    width: 250px;;
    height: 450px;
    text-align: center;
    margin-left: 150px;
    margin-top: 100px;
    padding: 5px 5px;
    box-shadow: 8px 8px black;

} 

h3 {
    text-align: center;
    padding: 5px 5px;
}

.buttons {
    text-align: center;
    margin: auto;
    border-radius: 50%;
    box-shadow: 2px 2px black;

}


.img {
    border: 4px double black;
    width: 150px;
    height: 150px;
    box-shadow: 3px 3px black;

}

footer {
    text-align: center;
    padding: 10px;
}
#Cat {
    background-color: rgb(183, 154, 184);
}

#Dog {
    background-color: rgb(231, 195, 231);
}
#Dino {
background-color: darkgrey;
}